<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="robots" content="index,follow" />
  <meta name="baidu-site-verification" content="NI8ivrCdyD" />
  <meta content="telephone=no" name="format-detection" />
  <meta name="viewport"
    content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover" />
  <title>会员中心</title>
  <script src="../../common/copy/rem.min.js"></script>
</head>
<script>
  var msg_title = "会员中心";
</script>

<body>
  <div id="app" style="display: none;">
    <div class="wrap" :style="{'overflow':controller.isMask?'hidden':'auto'}">
      <!-- 用户基本信息 -->
      <div class="baseInfo">
        <div class="headImg">
          <img :src="memberInfo.image" alt="" />
        </div>
        <div class="name">
          <div>
            <span class='userName'>{{memberInfo.userName}}</span>
            <div class="level" v-if='memberInfo.member !=0' >
               <img :src="memberInfo.iconUrl"  alt="" srcset="" />
            </div>
          </div>
        </div>
        <div class="date" v-show='memberInfo.member !=0'>
          <span>{{memberInfo.state}}</span>
          <span class='gorecharge' v-show='memberInfo.member==2' @click='purchase'>立即续费</span>
        </div>
        <div class="noMember" v-show='memberInfo.member==0'>
          <div class="noMemberWrap" @click='purchase'>
            <img src="./img/member.png" alt="">
            <span>开通会员即可享受专属特权</span>
          </div>
        </div>
      </div>
      <div class='block'></div>
      <!-- 成长模块 -->
      <div class="growth" v-if='memberInfo.member !=0'>
        <div class="growthwrap">
          <div class="growthTitle">
            <div>
              <div class="growthname">我的成长</div>
              <div class="growthinfo">
                <span>{{memberInfo.rate}}</span>
                <img src="./img/growUp.png" v-if='memberInfo.member == 1' alt="" srcset="" />
                <img src="./img/decline.png" v-if='memberInfo.member == 2' alt="" srcset="">
              </div>
            </div>
            <div>
              <div class="question" @click='growthinfoFn'>
                <img src="./img/touxiang.png" alt="" srcset="" />
              </div>
            </div>
          </div>
          <div class="growthscoll">
            <div class="scoll" :class="memberInfo.member==2?'expiredMember':''">
              <div class="rate" :style="{width:memberInfo.groupWidth+'%'}"></div>
            </div>
          </div>
          <div class="growthLevel">
            <div>
              <span>LV{{memberInfo.leftLevel}}</span>
            </div>
            <div>
              <span v-if='memberInfo.upLevelNeedScore != 0'>{{memberInfo.sorce - memberInfo.currLevelNeedScore}} /
                {{memberInfo.sorce - memberInfo.currLevelNeedScore + memberInfo.upLevelNeedScore}} 成长值</span>
              <span v-if='memberInfo.upLevelNeedScore == 0'>
                恭喜你已满级，当前成长值：{{memberInfo.sorce}}
              </span>
            </div>
            <div>
              <span>LV{{memberInfo.rightLevel}}</span>
            </div>
          </div>
        </div>
      </div>
      <!-- 每日抽奖模块 -->
      <div class="luckDraw" v-if='memberInfo.member !=0'>
        <div class="luckDrawWrap">
          <div class="title">每日抽奖</div>
          <div class="luckDrawbg">
            <div class="luckDrawContent">
              <div class="col">
                <div>
                  <div class="luckImg" :class="getRewardId == getRewardJSON[0].id?'active':''">
                    <img :src="getRewardJSON[0].image" alt="" />
                    <div class='prizeName'><span>{{getRewardJSON[0].prizeName}}</span></div>
                  </div>
                </div>
                <div>
                  <div class="luckImg" :class="getRewardId == getRewardJSON[1].id?'active':''">
                    <img :src="getRewardJSON[1].image" alt="" />
                    <div class='prizeName'><span>{{getRewardJSON[1].prizeName}}</span></div>
                  </div>
                </div>
                <div>
                  <div class="luckImg" :class="getRewardId == getRewardJSON[2].id?'active':''">
                    <img :src="getRewardJSON[2].image" alt="" />
                    <div class='prizeName'><span>{{getRewardJSON[2].prizeName}}</span></div>
                  </div>
                </div>
                <div>
                  <div class="luckImg" :class="getRewardId == getRewardJSON[3].id?'active':''">
                    <img :src="getRewardJSON[3].image" alt="" />
                    <div class='prizeName'><span>{{getRewardJSON[3].prizeName}}</span></div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div>
                  <div class="luckImg" :class="getRewardId == getRewardJSON[9].id?'active':''">
                    <img :src="getRewardJSON[9].image" alt="" />
                    <div class='prizeName'><span>{{getRewardJSON[9].prizeName}}</span></div>
                  </div>
                </div>
                <div class="btn">
                  <div class="btn_img" :class="memberInfo.prizeDrawTime==0?'nocanluckDraw':'canluckDraw'"
                    @click='prizeDraw'>
                    <div class="describe"><span>开始抽奖</span></div>
                    <div class="count">
                      <span>剩余&nbsp;{{memberInfo.prizeDrawTime}}&nbsp;次</span>
                    </div>
                  </div>
                </div>
                <div>
                  <div class="luckImg" :class="getRewardId == getRewardJSON[4].id?'active':''">
                    <img :src="getRewardJSON[4].image" alt="" />
                    <div class='prizeName'><span>{{getRewardJSON[4].prizeName}}</span></div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div>
                  <div class="luckImg" :class="getRewardId == getRewardJSON[8].id?'active':''">
                    <img :src="getRewardJSON[8].image" alt="" />
                    <div class='prizeName'><span>{{getRewardJSON[8].prizeName}}</span></div>
                  </div>
                </div>
                <div>
                  <div class="luckImg" :class="getRewardId == getRewardJSON[7].id?'active':''">
                    <img :src="getRewardJSON[7].image" alt="" />
                    <div class='prizeName'><span>{{getRewardJSON[7].prizeName}}</span></div>
                  </div>
                </div>
                <div>
                  <div class="luckImg" :class="getRewardId == getRewardJSON[6].id?'active':''">
                    <img :src="getRewardJSON[6].image" alt="" />
                    <div class='prizeName'><span>{{getRewardJSON[6].prizeName}}</span></div>
                  </div>
                </div>
                <div>
                  <div class="luckImg" :class="getRewardId == getRewardJSON[5].id?'active':''">
                    <img :src="getRewardJSON[5].image" alt="" />
                    <div class='prizeName'><span>{{getRewardJSON[5].prizeName}}</span></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- 专属特权 -->
      <div class="privilege">
        <div class="privilegeWrap">
          <div class="title">专属特权</div>
          <div class="privilegeList clearfix">
            <div v-for="item of privilegeJSON" @click='privilegeFn(item)' class="privilegeitem">
              <div class="privilegeImg">
                <div>
                  <img :src="item.img" alt="" />
                </div>
              </div>
              <div class="privilegeinfo">
                <div class="privilegeTitle">{{ item.title }}</div>
                <div class="privilegesubTitle">
                  {{ item.describe }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- 抽奖展示模块 -->
      <div class="dayluck" v-if='memberInfo.member ==0'>
        <div class="dayluckWrap">
          <div class="title">每日抽奖奖品</div>
          <div class="dayluckWrapList">
            <div class="dayluckWrapitem" v-for="item of dayluckJSON">
              <div class="dayluckWrapitemWrap">
                <div class="dayluckWrapitemimg">
                  <img :src="item.img" alt="" srcset="" />
                </div>
                <div class="dayluckWrapitemname">
                  <span>{{ item.name }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- 充值 立刻开通 -->
    <div class="recharge" @click='purchase'>
      <span v-if='memberInfo.member !=0'>立即续费</span>
      <span v-if='memberInfo.member == 0'>立即开通</span>
    </div>

    <div class="mask" v-if='controller.isMask' @click.self='closeMask'>
      <!-- 购买时长弹框 -->
      <div class="buyTime" v-if="controller.showTypeMask==0">
        <div class="buyTimeWrap">
          <div class="buyTimeTime">选择购买时长</div>
          <div class="buyTimesubtitme">1个月会员时长=31天</div>
          <div class="buyTimeList">
            <div class="buyTimeitem" @click='choosePayTyleFn(item)'
              :class="{'recommend':item.recommendTag,'active':controller.choosePayTyle== item.id}"
              v-for="(item,index) of buyTimeJSON">
              <div class="time">
                <span>{{ item.name }}</span>
              </div>
              <div class="spend">
                <span>{{ item.discountDiamond }}钻</span>
              </div>
              <div class="des">
                <span>{{ item.discountDiamondMonth }}钻/月</span>
              </div>
            </div>
          </div>
        </div>
        <div class="buyBtn" @click='purchaseMember'>
          <span>马上兑换</span>
        </div>
      </div>

      <!-- 弹框内容 -->
      <div class="alert" @click.self='closeMask' v-if="controller.showTypeMask==1">
        <!-- 每日免费抽奖 -->
        <div class="alertWrap" v-if="controller.showTypeAlert==0">
          <div class="alertcontent">
            <div class="alerttitle"><span>每日免费 专属抽奖</span></div>
            <div class="alertsubtitle">
              <span>每日奖品将不定期更换</span>
            </div>
            <div class="alertlist">
              <!-- 每日免费抽奖 -->
              <div class="luckDrawDes">
                <div class="luckDrawDesitme" v-for='item of luckDrawJSON'>
                  <div>
                    <div class="icon">
                      <img :src="item.icon" alt="" />
                    </div>
                  </div>
                  <div class="des">{{item.des}}</div>
                  <div>
                    <span class="count">{{item.count}}</span>
                    <span class="unit">{{item.unit}}</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="alertBtn" @click='closeMask'><span>知道了</span></div>
          </div>
        </div>
        <!-- 打卡签到 -->
        <div class="alertWrap" v-if="controller.showTypeAlert==1">
          <div class="alertcontent">
            <div class="alerttitle"><span>打卡签到 额外奖励</span></div>
            <div class="alertsubtitle">
              <span>连续星座打卡可获得额外奖励</span>
            </div>
            <div class="alertlist">
              <div class="signinDes">
                <div class="signinDesitem" v-for='item of signinJSON'>
                  <div>
                    <span class="dayCount">{{item.dayCount}}</span>
                    <span class="day">{{item.day}}</span>
                  </div>
                  <div class="">
                    <span class="coinCount">{{item.coinCount}}</span>
                    <span class="coinCunit">{{item.coinCunit}}</span>
                  </div>
                  <div>
                    <div class="icon">
                      <img :src="item.icon" alt="" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="alertBtn" @click='closeMask'><span>知道了</span></div>
          </div>
        </div>
        <!-- 专属气泡 -->
        <div class="alertWrap" v-if="controller.showTypeAlert==2">
          <div class="alertcontent">
            <div class="alerttitle"><span>专属气泡</span></div>
            <div class="alertsubtitle">
              <span>可获得专属气泡</span>
            </div>
            <div class="alertlist">
              <div class="bubbleDes">
                <div class="bubbleDesitem" v-for="item of bubbleJSON">
                  <div>
                    <div class="icon">
                      <img :src="item.icon" alt="" />
                    </div>
                  </div>
                  <div class="bubbleDescenter">
                    <span class="level">{{item.level}}</span>
                    <span class="des">{{item.des}}</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="alertBtn" @click='closeMask'><span>知道了</span></div>
          </div>
        </div>
        <!-- 徽章 -->
        <div class="alertWrap" v-if="controller.showTypeAlert==3">
          <div class="alertcontent">
            <div class="alerttitle"><span>专属徽章</span></div>
            <div class="alertsubtitle">
              <span>可获得专属徽章</span>
            </div>
            <div class="alertlist" :class="{ 'badgeDeslist':controller.showTypeAlert==3}">
              <div class="badgeDes clearfix" >
                <div class="badgeDesitem" v-for='item of badgeJSON'>
                  <div class="badgeDesitemWrap">
                    <div class="icon">
                      <img :src="item.icon" alt="" />
                    </div>
                    <div>
                      <span class="level">{{item.level}}</span>
                      <span class="des">{{item.des}}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="alertBtn" @click='closeMask'><span>知道了</span></div>
          </div>
        </div>
        <!-- 会员等级说明 -->
        <div class="alertWrap" v-if="controller.showTypeAlert==4">
          <div class="alertcontent">
            <div class="alerttitle"><span>会员等级说明</span></div>
            <div class="alertlist">
              <div class="memberDes clearfix">
                <div class="memberDesTitle">
                  <div>
                    <span class="level">会员等级</span>
                  </div>
                  <div>
                    <span class="count">所需成长值</span>
                  </div>
                </div>

                <div class="memberDessitem">
                  <div class="memberDesitemWrap">
                    <div>
                      <span class="level">LV1</span>
                    </div>
                    <div>
                      <span class="count">0</span>
                    </div>
                  </div>
                </div>
                <div class="memberDessitem">
                  <div class="memberDesitemWrap">
                    <div>
                      <span class="level">LV2</span>
                    </div>
                    <div>
                      <span class="count">400</span>
                    </div>
                  </div>
                </div>
                <div class="memberDessitem">
                  <div class="memberDesitemWrap">
                    <div>
                      <span class="level">LV3</span>
                    </div>
                    <div>
                      <span class="count">1200</span>
                    </div>
                  </div>
                </div>
                <div class="memberDessitem">
                  <div class="memberDesitemWrap">
                    <div>
                      <span class="level">LV4</span>
                    </div>
                    <div>
                      <span class="count">3600</span>
                    </div>
                  </div>
                </div>
                <div class="memberDessitem">
                  <div class="memberDesitemWrap">
                    <div>
                      <span class="level">LV5</span>
                    </div>
                    <div>
                      <span class="count">10800</span>
                    </div>
                  </div>
                </div>

                <div class="memberDesnotice">
                  <div class="memberDesnoticeTitle">
                    <span>会员成长值</span>
                  </div>
                  <div class="memberDesnoticeinfo">
                    <p>
                      1. 会员每日零点可获得12点成长值(成长值刷
                      新可能稍有延迟)；
                    </p>
                    <p>2. 会员到期后，每日零点将会扣除15成长值；</p>
                    <p>3. 会员活动将不定期赠送成长值；</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="alertBtn" @click='closeMask'><span>知道了</span></div>
          </div>
        </div>
      </div>

      <!-- 抽奖到东西展示弹框 -->
      <div class='getRewardalert' v-if="controller.showTypeMask==3">
        <div class='getRewardalertWrap'>
          <div class='getRewardalertTitle'><span>恭喜你，获得</span></div>
          <div class='getRewardalertInfo'>
            <div class='showimg'>
              <img :src="mygift.imageLarge" alt="">
            </div>
            <div><span>{{mygift.prizeName}}</span></div>
          </div>
          <div class='getRewardalertBtn'>
            <div class='getRewardalertBtn1' @click='closeMask' v-if='!mygift.jumpUrl'>
              <div>知道了</div>
            </div>
            <div class='getRewardalertBtn2' v-if='mygift.jumpUrl'>
              <div class='getRewardalertyes' @click='closeMask'>知道啦</div>
              <div class='getRewardalertuser' @click='gouse(mygift.jumpUrl)'>去使用</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <toast ref='toast'></toast>
    <popup ref="popup" v-on:popup-confirm="clickPopupConfirm" v-on:popup-cancel="clickPopupCancel"></popup>
  </div>
</body>

</html>